$font-color-default: #3E3E3E;
$font-color-main: #FFFFFF;
$font-color-sub: #666666;

$card-background-default: linear-gradient(to top right, rgb(0, 0, 0), rgba(0, 0, 0, .75));
$card-background-default: linear-gradient(to top right, rgb(0, 0, 0), rgba(0, 0, 0, .75));

$button-background-default: #0B457F;
$button-background-hover: #006CD8